# IntelliJ IDEA
.idea/

# Environment variables
.env

# Dependencies
node_modules/

# Databases and tokens
*.db
tokens*.json

# VSCode
.vscode/

# Logs
*.log
npm-debug.log

# macOS
.DS_Store

# Local tunnel url
localtunnel-url.txt